<div class="container-form" >
  <mat-card class="card-form " >
    <mat-card-header >
      <mat-card-title>Cadastro de Acesso</mat-card-title>
    </mat-card-header>

    <form [formGroup]="formControls">
      <mat-card-content >
        <div formGroupName="usuario">
          <mat-form-field>
            <mat-label>Nome do Usuário</mat-label>
            <input matInput disabled [value]="formControls.get('usuario.nome')?.value"/>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>CPF</mat-label>
            <input type="text"
                   matInput
                   formControlName="cpf"
                   [matAutocomplete]="auto"
                   (keyup)="handleKeyUp($event)">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngIf="filteredCpf.length === 0 && !loadingCpf" [value]="''">
                  Não localizado
                </mat-option>
                <mat-option *ngFor="let option of filteredCpf" [value]="option.cpf" (onSelectionChange)="selectedCpf(option)">
                  {{option.nome + " - " + option.cpf}}
                </mat-option>
            </mat-autocomplete>
            <mat-progress-bar *ngIf="loadingCpf" mode="indeterminate"></mat-progress-bar>
            <mat-error *ngIf="formControls.get('usuario.cpf')?.hasError('required')">
              Este campo é <strong>obrigatório</strong>
            </mat-error>
            <mat-error *ngIf="formControls.get('usuario.cpf')?.hasError('cpfInvalido')">cpf inválido</mat-error>
          </mat-form-field>
        </div>
        
        <div *ngIf="formControls.get('usuario.nome')?.value">
          <mat-card >
            <mat-card-header >
              <mat-card-title>Permissões</mat-card-title>
            </mat-card-header>
            <span class="permissao-list-section">
              <ul>
                @for (tela of arrayTelas; track tela) {
                  <mat-card class="card-tela" >
                    <li class="li-tela">
                      <div class="nome-tela"> <mat-icon >{{tela.icon}}</mat-icon> <p>{{tela.label}}</p></div>
                      <mat-chip-listbox  (change)="permissaoTela(tela.label, $event)">
                        <mat-chip-option [selected]="true" value="Restrito" color="warn"> Restrito</mat-chip-option>
                        <mat-chip-option value="Consulta">Consulta</mat-chip-option>
                        <mat-chip-option value="Alteração">Alteração</mat-chip-option>
                        <mat-chip-option value="Total">Total</mat-chip-option>
                      </mat-chip-listbox>
                    </li>
                  </mat-card>
                }
              </ul>
            </span>
  
          </mat-card>

          <mat-card >
            <mat-card-header >
              <mat-card-title>Adicionar a um grupo</mat-card-title>
            </mat-card-header>
            <mat-form-field class="search-field-grid">
              <mat-label>Grupo</mat-label>
              <mat-select (selectionChange)="onSelectGrupo($event)" >
               @for (grupo of databaseInfo.gruposAcessos; track grupo) {
                  <mat-option  [value]="grupo">{{grupo.nome}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
  
          </mat-card>

        </div>
  
        <div class="area-botao-form " *ngIf="isLoggedIn">
          <button mat-raised-button color="primary" (click)="cadastrar()" [disabled]="!formularioValido()">Cadastrar</button>
          <button  mat-raised-button color="link" routerLink="/acesso/lista">Voltar</button>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>