<div class="container-form" >
  <mat-card class="card-form " >
    <mat-card-header >
      <mat-card-title>Cadastro de Acesso</mat-card-title>
    </mat-card-header>

    <form [formGroup]="formControls">
      <mat-card-content >
        <div class="inputs-row-form">
          <mat-form-field>
            <mat-label>Nome do Perfil</mat-label>
            <input [readonly]="view"  type="text" matInput formControlName="nomeGrupo" />
            <mat-error *ngIf="formControls.get('nomeGrupo')?.hasError('nomeGrupoInvalid')" >
              Nome do perfil já localizada no banco de dados.
            </mat-error>
          </mat-form-field>
        </div>
        <div >
          <mat-card [formGroup]="permissoesFormControls">
            <mat-card-header >
              <mat-card-title>Permissões</mat-card-title>
            </mat-card-header>
            <span class="permissao-list-section">
              <ul>
                @for (tela of arrayTelas; track tela) {
                  <mat-card class="card-tela" >
                    <li class="li-tela">
                      <div class="nome-tela"> <mat-icon >{{tela.icon}}</mat-icon> <p>{{tela.label}}</p></div>
                      <mat-chip-listbox [formControlName]="tela.value" >
                        <mat-chip-option value="restrito" color="warn"> Restrito</mat-chip-option>
                        <mat-chip-option value="consulta">Consulta</mat-chip-option>
                        <mat-chip-option value="total">Total</mat-chip-option>
                      </mat-chip-listbox>
                    </li>
                  </mat-card>
                }
              </ul>
            </span>
  
          </mat-card>

        </div>
  
        <div class="area-botao-form " *ngIf="this.id === '' || this.id === undefined">
          <button mat-raised-button *ngIf="this.access === 'total'" color="primary" (click)="create()" [disabled]="!formValid()">Cadastrar</button>
          <button  mat-raised-button color="link" routerLink="/acesso/lista">Voltar</button>
        </div>

        <div class="area-botao-form " *ngIf="this.id !==  '' && this.id !== undefined">
          <button *ngIf="!view && this.access === 'total'"  mat-raised-button color="primary" (click)="update()" [disabled]="!formValid()"> Atualizar</button>
          <button mat-raised-button color="link" routerLink="/acesso/lista">Voltar</button>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>