<div class="page-container-grid">
  <h1>Listagem de Contratos</h1>
  
  <div>
    <div class="inputs-row-form">
      <mat-form-field class="search-field-grid">
        <mat-label>Status da Entrega</mat-label>
        <mat-select disabled>
          <mat-option>entregue</mat-option>
          <mat-option>não entregue</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="search-field-grid">
        <mat-label>CRF entregue</mat-label>
        <mat-select disabled>
          <mat-option>entregue</mat-option>
          <mat-option>não entregue</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="inputs-row-form"> 
      <mat-form-field class="search-field">
        <mat-label>Cidade</mat-label>
        <mat-select disabled>
          <mat-option>São Paulo</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="search-field">
        <mat-label>Estado</mat-label>
        <mat-select disabled>
          <mat-option>São Paulo</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="search-field-grid">
        <mat-label>Cartórios</mat-label>
        <mat-select (selectionChange)="cartorioSelected($event)">
          <mat-option value="">Escolha um cartorio</mat-option>
          @for (cartorio of cartorios; track cartorio) {
            <mat-option [value]="cartorio.nome">{{cartorio.nome}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="inputs-row-form">
      <mat-form-field class="search-field">
        <input matInput placeholder="Pesquisar por Nome, CPF, Vendedor e Contatante" [(ngModel)]="searchTerm" (keyup)="search()" />
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
      
      <button style="margin-top:17px; margin-left: 20px; padding: 15px 40px;" (click)="search()" mat-stroked-button color="primary" >Filtrar</button>
      <button style="margin-top:17px; margin-left: 20px;"  mat-raised-button color="primary" (click)="adicionarNovo()" >Novo Contrato</button>
    </div>
  </div>


  <table mat-table [dataSource]="dataSourceFilter" class="mat-elevation-z8">
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef > Nome</th>
      <td mat-cell *matCellDef="let element" > {{element.contratante.nome}} </td>
    </ng-container>
    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef > CPF </th>
      <td mat-cell *matCellDef="let element"> {{element.contratante.cpf}} </td>
    </ng-container>
    <ng-container matColumnDef="cidade" >
      <th mat-header-cell *matHeaderCellDef > Cidade</th>
      <td mat-cell *matCellDef="let element" > {{element.empresa.endereco.cidadeUf}} </td>
    </ng-container>
    <ng-container matColumnDef="statusEntrega" >
      <th mat-header-cell *matHeaderCellDef >Status da Entrega</th>
      <td mat-cell *matCellDef="let element" > {{element.crf.statusentrega}} </td>
    </ng-container>
    <ng-container matColumnDef="cartorio" >
      <th mat-header-cell *matHeaderCellDef >Cartório</th>
      <td mat-cell *matCellDef="let element" > {{element.cartorio.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="vendedor" >
      <th mat-header-cell *matHeaderCellDef >Vendedor</th>
      <td mat-cell *matCellDef="let element" > {{element?.vendedor?.nome }} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="crfEntregue" >
      <th mat-header-cell *matHeaderCellDef >CRF Entregue</th>
      <td mat-cell *matCellDef="let element" > {{element.crf.crfentregue}} </td>
    </ng-container>

    <ng-container matColumnDef="nCrf" >
      <th mat-header-cell *matHeaderCellDef >nº da CRF</th>
      <td mat-cell *matCellDef="let element" > {{element.crf.numerocrf}} </td>
    </ng-container> -->

    <ng-container matColumnDef="actions" class="">
      <th mat-header-cell *matHeaderCellDef > Ações </th>
      <td mat-cell *matCellDef="let element" >
        <button class="icon-blue" mat-icon-button (click)="viewItem(element)">
          <mat-icon >visibility</mat-icon>
        </button>
        <button class="icon-green" mat-icon-button (click)="editItem(element)">
          <mat-icon >edit</mat-icon>
        </button>
        <button class="icon-red" mat-icon-button  (click)="deleteItem(element)">
          <mat-icon >delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


