<div class="container-form ">
  <mat-card class="card-form " >
    <mat-card-header>
      <mat-card-title>Cadastro do Endereço do Imóvel</mat-card-title>
    </mat-card-header>

    <form [formGroup]="formControls">
      <mat-card-content >
        <mat-tab-group animationDuration="700ms" >
          <mat-tab  formGroupName="contratante">
            <ng-template mat-tab-label>
              <span >Dados Contratante</span> 
            </ng-template>
            <div> 
              <mat-form-field>
                <mat-label>Nome do Contratante</mat-label>
                <input matInput disabled [value]="formControls.get('contratante.nome')?.value"/>
              </mat-form-field>
              <!-- <mat-form-field>
                <mat-label>CPF</mat-label>
                <input matInput formControlName="cpf" (keyup)="localizaContrante()"/>
                <mat-error *ngIf="formControls.get('contratante.cpf')?.hasError('required')">
                  Este campo é <strong>obrigatório</strong>
                </mat-error>
                <mat-error *ngIf="formControls.get('contratante.cpf')?.hasError('cpfInvalido')">CPF inválido</mat-error>
              </mat-form-field>
               -->

              <mat-form-field class="example-full-width">
                <mat-label>CPF</mat-label>
                <input type="text"
                       matInput
                       formControlName="cpf"
                       [matAutocomplete]="auto"
                       (keyup)="handleKeyUp($event)">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngIf="filteredCpf.length === 0 && !loadingCpf" [value]="''">
                      Não localizado
                    </mat-option>
                    <mat-option *ngFor="let option of filteredCpf" [value]="option.cpf" (onSelectionChange)="selectedCpf(option)">
                      {{option.nome + " - " + option.cpf}}
                    </mat-option>
                </mat-autocomplete>
                <mat-progress-bar *ngIf="loadingCpf" mode="indeterminate"></mat-progress-bar>
                <mat-error *ngIf="formControls.get('contratante.cpf')?.hasError('required')">
                  Este campo é <strong>obrigatório</strong>
                </mat-error>
                <mat-error *ngIf="formControls.get('contratante.cpf')?.hasError('cpfInvalido')">CPF inválido</mat-error>
              </mat-form-field>
            </div>
            
          </mat-tab> 
          <mat-tab  formGroupName="enderecoPorta" >
            <ng-template mat-tab-label>
              <span [ngClass]="formControls.get('enderecoPorta')?.invalid ?'tab-invalid' : ''">Endereço de Porta</span>
            </ng-template>
            <mat-form-field>
              <mat-label>CEP</mat-label>
              <input [readonly]="visualizar" (keyup)="buscarEnderecoPorta()" maxlength="8" type="text" matInput formControlName="cep"/>
            </mat-form-field>
    
            <div class="inputs-row-form">
              <mat-form-field>
                <mat-label>Rua</mat-label>
                <input [readonly]="visualizar"  type="text" matInput formControlName="rua" />
                <mat-error *ngIf="formControls.get('enderecoPorta.rua')?.hasError('required')">
                  Este campo é <strong>obrigatório</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Número</mat-label>
                <input [readonly]="visualizar"  type="text" matInput formControlName="numero" />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Complemento</mat-label>
                <input [readonly]="visualizar" type="text" matInput formControlName="complemento" />
              </mat-form-field>
            </div>
            
            <div class="inputs-row-form">
              <mat-form-field>
                <mat-label>Bairro</mat-label>
                <input [readonly]="visualizar"  type="text" matInput  formControlName="bairro" />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Cidade/UF</mat-label>
                <input [readonly]="visualizar"  type="text" matInput formControlName="cidadeUf"  />
                <mat-error *ngIf="formControls.get('enderecoPorta.cidadeUf')?.hasError('required')" >
                  Este campo é <strong>obrigatório</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="inputs-row-form">
              <mat-form-field>
                <mat-label>IPTU</mat-label>
                <input [readonly]="visualizar"  type="text" matInput  formControlName="iptu" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Núcleo Informal</mat-label>
                <input [readonly]="visualizar" (keyup)="buscarEnderecoPorta()" type="text" matInput formControlName="nucleoInformal" required>
                <mat-error *ngIf="formControls.get('enderecoPorta.nucleoInformal')?.hasError('required')">
                  Este campo é <strong>obrigatório</strong>.
                </mat-error>
              </mat-form-field>
            </div>



            <div class="inputs-row-form"  *ngIf="showAnexos">
              <app-file-input [nome]="'Foto*'" 
              [fileInput]="this.formControls.get('enderecoPorta')?.get('fotos')?.value"
              (fileOutput)="saveFileBase64($event)" 
              (fileSelected)="onFileSelected($event)"></app-file-input>
            </div>
          </mat-tab>

          <mat-tab  formGroupName="enderecoProjeto" >
            <ng-template mat-tab-label>
              <span [ngClass]="formControls.get('enderecoProjeto')?.invalid ?'tab-invalid' : ''">Endereço do Projeto</span>
            </ng-template>
            <mat-form-field>
              <mat-label>CEP</mat-label>
              <input [readonly]="visualizar" (keyup)="buscarEnderecoProjeto()" maxlength="8" type="text" matInput formControlName="cep"/>
            </mat-form-field>
    
            <div class="inputs-row-form">
              <mat-form-field>
                <mat-label>Rua</mat-label>
                <input [readonly]="visualizar"  type="text" matInput formControlName="rua" />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Quadra</mat-label>
                <input [readonly]="visualizar"  type="text" matInput formControlName="quadra" />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Lote</mat-label>
                <input [readonly]="visualizar"  type="text" matInput formControlName="lote" />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Número</mat-label>
                <input [readonly]="visualizar"  type="text" matInput formControlName="numero" />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Complemento</mat-label>
                <input [readonly]="visualizar" type="text" matInput formControlName="complemento" />
              </mat-form-field>
            </div>
            
            <div class="inputs-row-form">
              <mat-form-field>
                <mat-label>Bairro</mat-label>
                <input [readonly]="visualizar"  type="text" matInput  formControlName="bairro" />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Cidade/UF</mat-label>
                <input [readonly]="visualizar"  type="text" matInput formControlName="cidadeUf"  />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Núcleo Informal</mat-label>
                <input [readonly]="visualizar" (keyup)="buscarEnderecoProjeto()" type="text" matInput formControlName="nucleoInformalProjeto" >
              </mat-form-field>
            </div>
          </mat-tab>
         
          <mat-tab formGroupName="enderecoDefinitivo" > 
            <ng-template mat-tab-label>
              <span [ngClass]="formControls.get('enderecoDefinitivo')?.invalid ?'tab-invalid' : ''">Endereço Definitivo</span>
            </ng-template>
              <mat-form-field>
                <mat-label>CEP</mat-label>
                <input [readonly]="visualizar" (keyup)="buscarEnderecoDefinitivo()" maxlength="8" type="text" matInput formControlName="cep"/>
              </mat-form-field>
              
    
              <div class="inputs-row-form">
                <mat-form-field>
                  <mat-label>Rua</mat-label>
                  <input [readonly]="visualizar"  type="text" matInput formControlName="rua" />
                </mat-form-field>
       
                  <mat-form-field>
                    <mat-label>Número</mat-label>
                    <input [readonly]="visualizar"  type="text" matInput formControlName="numero" />
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Complemento</mat-label>
                    <input [readonly]="visualizar" type="text" matInput formControlName="complemento" />
                  </mat-form-field>
         
              </div>
              
              <div class="inputs-row-form">
                <mat-form-field>
                  <mat-label>Bairro</mat-label>
                  <input [readonly]="visualizar"  type="text" matInput  formControlName="bairro" />
                </mat-form-field>
      
                <mat-form-field>
                  <mat-label>Cidade/UF</mat-label>
                  <input [readonly]="visualizar"  type="text" matInput formControlName="cidadeUf"  />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Núcleo Informal</mat-label>
                  <input [readonly]="visualizar" (keyup)="buscarEnderecoDefinitivo()" type="text" matInput formControlName="nucleoInformalDefinitivo" >
                </mat-form-field>
              </div>

              <div class="inputs-row-form">
                <mat-form-field>
                  <mat-label>Matricula</mat-label>
                  <input [readonly]="visualizar"  type="text" matInput formControlName="matricula"  />
                </mat-form-field>
              </div>
          </mat-tab>

        
        </mat-tab-group>
  
  
  
        <div class="area-botao-form " *ngIf="isLoggedIn && this.imovelId === '' || this.imovelId === undefined">
          <button mat-raised-button color="primary" (click)="create()" [disabled]="!formValid()">Cadastrar</button>
          <button  mat-raised-button color="link" routerLink="/imovel/lista">Voltar</button>
        </div>

        <div class="area-botao-form " *ngIf="isLoggedIn && this.imovelId !== '' && this.imovelId !== undefined">
          <button *ngIf="!visualizar" mat-raised-button color="primary" (click)="update()"  [disabled]="!formValid()"> Atualizar</button>
          <button mat-raised-button color="link" routerLink="/imovel/lista">Voltar</button>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>