<div class="container-form ">
  <mat-card class="card-form " >
    <mat-card-header>
      <mat-card-title>Cadastro de Vendedor</mat-card-title>
    </mat-card-header>

    <mat-card-content >
      <mat-tab-group >
        <mat-tab  label="Dados Pessoais"> 
          <div class="inputs-row-form">
            <app-file-input [nome]="'Foto: '" 
                            [accept]="'.jpg'"
                            [fileInput]="this.fotoFormControl.value ? this.fotoFormControl.value : {base64: '',type: ''}"
                            (fileOutput)="saveFileBase64($event)" 
                            (fileSelected)="onFileSelected($event)">
            </app-file-input>
        </div>
        <mat-form-field>
          <mat-label>Tipo</mat-label>
          <mat-select  [formControl]="perfilFormControl">
            <mat-option [value]="1">Vendedor</mat-option>
            <mat-option [value]="2">Corretor</mat-option>
          </mat-select>
          <mat-error *ngIf="perfilFormControl.hasError('required')">
            Este campo é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input [readonly]="visualizar"  matInput [formControl]="nomeFormControl" />
          <mat-error *ngIf="nomeFormControl.hasError('required')">
            Este campo é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
      
          <div class="inputs-row-form">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input [readonly]="visualizar"  type="email" matInput [formControl]="emailFormControl" placeholder="Ex.pat@example.com" />
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')" >
                Este campo é <strong>obrigatório</strong>
              </mat-error>
            </mat-form-field>
      
            <mat-form-field>
              <mat-label>Telefone</mat-label>
              <input [readonly]="visualizar"  matInput [formControl]="telefoneFormControl" (input)="formatPhone()" />
              <mat-error *ngIf="telefoneFormControl.hasError('pattern')">
                Por favor digite um telefone válido.
              </mat-error>
              <mat-error *ngIf="telefoneFormControl.hasError('required')">
                Este campo é <strong>obrigatório</strong>
              </mat-error>
            </mat-form-field>  
          </div>
    
          <div class="inputs-row-form">
            <mat-form-field>
              <mat-label *ngIf="cpfFormControl.value && cpfFormControl.value.length <= 11">CPF</mat-label>
              <mat-label *ngIf="cpfFormControl.value && cpfFormControl.value.length > 11">CNPJ</mat-label>
              <input [readonly]="visualizar"  matInput [formControl]="cpfFormControl" />
              <mat-error *ngIf="cpfFormControl.hasError('cpfInvalido')">CPF inválido</mat-error>
              <mat-error *ngIf="cpfFormControl.hasError('cnpjInvalido')">CNPJ inválido</mat-error>
            </mat-form-field>
      
            <mat-form-field>
              <mat-label>Documento de Identificação</mat-label>
              <input [readonly]="visualizar"  matInput [formControl]="rgFormControl" />
              <mat-error *ngIf="rgFormControl?.hasError('pattern')">
                Número do RG inválido.
              </mat-error>
            </mat-form-field>
          </div>          
        </mat-tab>
        <mat-tab  label="Dados Bancarios"> 
          <mat-form-field>
            <mat-label>Forma de Pagamento</mat-label>
            <mat-select [formControl]="formaPagamentoFormControl" multiple>
              @for (pag of pagList; track pag) {
                <mat-option [value]="pag.id">{{pag.nome}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <div class="inputs-row-form">
            <mat-form-field>
              <mat-label>Banco</mat-label>
              <input [readonly]="visualizar" matInput [(ngModel)]="teste.banco" placeholder="Nome do banco" />
            </mat-form-field>
          </div>
          <div class="inputs-row-form">
            <mat-form-field>
              <mat-label>Agencia</mat-label>
              <input [readonly]="visualizar" matInput [(ngModel)]="teste.agencia" placeholder="Agencia" />
            </mat-form-field>

            <mat-form-field>
              <mat-label>Conta</mat-label>
              <input [readonly]="visualizar" matInput [(ngModel)]="teste.conta" placeholder="Conta" />
            </mat-form-field>

            <mat-form-field>
              <mat-label>Dígito</mat-label>
              <input [readonly]="visualizar" matInput [(ngModel)]="teste.digito" placeholder="Digito" />
            </mat-form-field>
          </div>
          <div class="inputs-row-form">
            <mat-form-field>
              <mat-label>Tipo: </mat-label>
              <mat-select [(ngModel)]="teste.tipo">
                <mat-option [value]="1">Conta Corrente</mat-option>
                <mat-option [value]="2">Conta Poupança</mat-option>
              </mat-select>
              <mat-error *ngIf="perfilFormControl.hasError('required')">
                Este campo é <strong>obrigatório</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </mat-tab>
        <mat-tab label="Endereço"> 
          <mat-form-field>
            <mat-label>CEP</mat-label>
            <input [readonly]="visualizar" (keyup)="findAddress()" maxlength="8" type="text" matInput [formControl]="cepFormControl" />
            <mat-error *ngIf="cepFormControl.hasError('required')" >
              Este campo é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>

          <div class="inputs-row-form">
            <mat-form-field>
              <mat-label>Rua</mat-label>
              <input [readonly]="visualizar"  type="text" matInput [formControl]="ruaFormControl" />
              <mat-error *ngIf="ruaFormControl.hasError('required')" >
                Este campo é <strong>obrigatório</strong>
              </mat-error>
            </mat-form-field>
            <div class="inputs-row-form">
              <mat-form-field>
                <mat-label>Número</mat-label>
                <input [readonly]="visualizar"  type="text" matInput [formControl]="numeroFormControl" />
                <mat-error *ngIf="numeroFormControl.hasError('required')" >
                  Este campo é <strong>obrigatório</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Complemento</mat-label>
                <input [readonly]="visualizar"  type="text" matInput [formControl]="complementoFormControl" />
                <mat-error *ngIf="complementoFormControl.hasError('required')" >
                  Este campo é <strong>obrigatório</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <mat-form-field>
            <mat-label>Bairro</mat-label>
            <input [readonly]="visualizar"  type="text" matInput [formControl]="bairroFormControl" />
            <mat-error *ngIf="bairroFormControl.hasError('required')" >
              Este campo é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Cidade/UF</mat-label>
            <input [readonly]="visualizar"  type="text" matInput [formControl]="cidadeUfFormControl" />
            <mat-error *ngIf="cidadeUfFormControl.hasError('required')" >
              Este campo é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </mat-tab>
      </mat-tab-group>



        <div class="area-botao-form " *ngIf="isLoggedIn && this.vendedorId === '' || this.vendedorId === undefined">
          <button mat-raised-button color="primary" (click)="create()" [disabled]="!formValid()">Cadastrar</button>
          <button  mat-raised-button color="link" routerLink="/vendedor/lista">Voltar</button>
        </div>

        <div class="area-botao-form " *ngIf="isLoggedIn && this.vendedorId !== '' && this.vendedorId !== undefined">
          <button *ngIf="!visualizar" mat-raised-button color="primary" (click)="update()" [disabled]="!formValid()"> Atualizar</button>
          <button mat-raised-button color="link" routerLink="/vendedor/lista">Voltar</button>
        </div>
    </mat-card-content>
  </mat-card>
</div>