.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 95vw;
  background-color: #f0f2f5;
}

.mat-card {
  max-width: 400px;
  width: 100%;
}

.mat-card-header {
  background-color: #4267b2;
}

.mat-card-title {
  color: #fff;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

button {
  width: 100%;
}



button {
  width: 100%;
  margin-top: 10px;
}

.login-links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.login-links a {
  text-decoration: none;
  color: #4267b2;
}

.divider {
  margin: 0 10px;
  color: #555;
}


mat-form-field {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
}

button {
  width: 100%;
  margin-top: 10px;
}

.login-links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.login-links a {
  text-decoration: none;
  color: #4267b2;
}

.divider {
  margin: 0 10px;
  color: #555;
}