<div class="login-container">
  <mat-card   [style.width]="'600px'">
    <mat-card-header>
      <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-form-field >
      <mat-label>Empresa:</mat-label>
      <mat-select  (selectionChange)="changeEmpresa($event)" [(ngModel)]="empresaSelected" >
        <mat-option *ngFor="let empresa of empresasList;" [value]="empresa" >
          {{ empresa?.companyIdentifier + " - " + empresa?.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-tab-group >
      <mat-tab  label="Usuário"> 
        <mat-card-content>
          <mat-form-field>
            <mat-label>CPF</mat-label>
            <input matInput [(ngModel)]="usuario.cpf" />
          </mat-form-field>
    
          <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput type="password"  [(ngModel)]="usuario.senha" />
          </mat-form-field>
    
          <button mat-raised-button [disabled]="usuario.senha == '' || usuario.cpf == ''" color="primary" (click)="login()">Entrar</button>
          <div class="login-links">
            <a href="#">Esqueci minha senha</a>
            <span class="divider">|</span>
            <a [routerLink]="'/usuario/novo/cadastro'">Cadastrar</a>
          </div>
        </mat-card-content>
      </mat-tab>
      <mat-tab  label="Contratante"> 
        <mat-card-content>
          <mat-form-field >
            <mat-label>CPF / CNPJ</mat-label>
            <input matInput [(ngModel)]="contratante.cpf" />
          </mat-form-field>
    
          <button mat-raised-button color="primary" [disabled]="contratante.cpf == ''" (click)="loginContratante()">Entrar</button>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>