<style>
  :host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }



  .main {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh; 
    width: 100vw;
    grid-column-gap: 20px;
  }

  .content {
    overflow-y: auto; 
  }

  @media screen and (max-width: 800px) {
    main {
      display: flex;
      flex-direction: column;
    }
    .menu-auth{
      padding-top: 70px;
    }
  }
</style>


<main class="main">
  <app-menu (menuToggled)="onMenuToggled($event)"></app-menu>
  <div class="content">
    <router-outlet  [ngClass]="{'menu-auth': isLoggedIn, 'menu-open-margin': isMenuOpen, 'menu-closed-margin': !isMenuOpen}">
    </router-outlet>
  </div>
</main>


<app-toolbox></app-toolbox>

