.list-downloads{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  width: 95%;
  div {
    width: 50%;
  }
}

@media screen and (max-width: 810px) {
  .list-downloads{
    flex-direction: column;
    width: 97%;
    div {
      width: 100%;
    }
  }
}
