/* menu-lateral.component.css */

nav {
  width: 200px;
  background-color: #3f51b5;
  padding: 10px;

}
.headerAreaMenu{
  display: flex;
  flex-direction: column;
}
ul {
  list-style-type: none;
  padding: 0;
  transition: width 0.3s ease;
  overflow-y: auto; /* Mudado para 'auto' para permitir rolagem vertical quando necessário */
  overflow-x: hidden;
  margin-top: 20px;
  max-height: calc(100vh - 80px); /* Defina a altura máxima do menu, levando em conta outros elementos do cabeçalho */

}

li {
  margin-bottom: 5px;
}

a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  display: flex;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  user-select: none;
}

a:hover {
  background-color: #2e3c97;
}

.active {
  background-color:  #3444ad;
}


.menu {
  /* position: fixed;
  top: 0;
  left: 0; */
 
  height: 100vh;
  width: 250px; 
  background-color: #3f51b5;
  color: #fff;
  transition: width 0.3s ease;
  overflow-x: hidden;
  overflow-y: hidden;

}

.logoIconMenu{
  display: flex;
  padding-right: 5px;
  p{
    margin-top: 2px;
    margin-left: 15px;
    font-weight: bold;
  }
}

.menu-open {
  width: 250px; 
}
.menu-closed {
  width: 60px;
}

mat-icon{
  cursor: pointer;
}


@media screen and (max-width: 800px) {
  .menu-open {
    width: 100%; 
  }
  .headerAreaMenu{
    flex-direction: row;
    justify-content: space-between;
  }

  .menu-closed {
    width: 100%; 
    height: 40px;
  }
  .menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
  }

  .menu-open .menu-list {
    display: block;
  }

  ul {
    max-height: 80vh;
  }
}